:root {
  --h-color: #212121;
  --main-color: #757575;
  --accent-color: #2196f3;
  --main-background-color: #ffffff;
  --secondary-background-color: #2f303a;
  --radiobutton-background-color: #f5f4fa;
}

a,
a:visited {
  text-decoration: none;
  color: inherit;
}
body {
  font-family: Roboto;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: var(--main-color);
}

h1,
h2,
h3,
h4 {
  color: var(--h-color);
  margin: 0;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

/* .container {
  min-width: 1200px;
  padding-right: 15px;
  padding-right: 15px;
  margin: 0 auto;
} */

/* HEADER */

.logo {
  font-family: Raleway;
  display: block;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
}

.logo-accent {
  color: var(--accent-color);
}

.header {
  color: var(--secondary-background-color);

  padding-left: 15px;
  padding-right: 15px;
}

.header-nav {
  display: flex;
  align-items: center;
}

.nav {
  display: flex;
  margin-left: 93px;
}

.nav .item + .item {
  margin-left: 50px;
}

.contact {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.contact .item + .item {
  margin-left: 50px;
}

.header-nav {
  display: flex;
  justify-content: space-around;
}

.header-nav .link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
}

.nav .link:hover,
.contact .link:hover,
.nav .link:focus,
.contact .link:focus {
  color: var(--accent-color);
}

.nav .link {
  font-size: 14px;
  line-height: 1.15;
  font-weight: 500;
  letter-spacing: 0.02em;
}

.contact .link {
  font-size: 14px;
  line-height: 1.15;
  font-weight: 500;
  font-style: normal;
}

/* HERO */

.hero {
  background-color: var(--secondary-background-color);
  padding-top: 215px;
  padding-bottom: 200px;
  text-align: center;
}

.hero-header {
  margin-top: 0;
  font-family: Roboto;
  font-style: normal;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--main-background-color);
}

.hero .link {
  display: inline-block;
  margin-top: 40px;
  padding: 10px 32px;

  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  text-align: center;
  color: var(--main-background-color);
}

/* FEATURES */

.features {
  display: flex;
  padding: 94px 15px;
}

.features .item + .item {
  margin-left: 30px;
}

.features .feature-header {
  margin-bottom: 10px;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.features .feature-text {
  font-size: 14px;
  line-height: 1.7;
}

/* OUR WORK */

.our-work {
  padding: 0 15px 94px 15px;
}

.our-work-photo {
  display: flex;
  margin-top: 50px;
  justify-content: space-around;
}

.our-work-photo .link + .link {
  margin-left: 30px;
}

.our-work .our-work-header,
.team .team-header {
  font-weight: bold;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}

/* TEAM */
.team {
  padding: 94px 15px;
}

.team .team-members {
  display: flex;
  justify-content: space-around;
  margin-top: 50px;

  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}

.team-members .item + .item {
  margin-left: 30px;
}

.team-members .member-about {
  padding: 30px 60px;
}
.footer {
  background-color: var(--secondary-background-color);
  padding-top: 60px;
  padding-bottom: 60px;
  padding-left: 15px;
}

.footer .logo {
  margin-bottom: 20px;
}

.footer .logo,
.footer .contact {
  color: #ffffff;
}

.footer .link {
  color: rgba(255, 255, 255, 0.6);
  font-size: 14px;
  line-height: 1.7;
  font-style: normal;
}

.adress-link {
  color: var(--main-background-color);
  font-style: normal;
}

.adress .item + .item {
  margin-left: 0;
  margin-top: 9px;
}

.filter-btn {
  color: var(--secondary-background-color);
  background-color: var(--radiobutton-background-color);
  border-radius: 4px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
}

.filter-btn:hover,
.filter-btn:focus {
  background-color: var(--accent-color);
  color: var(--main-background-color);
}

.card {
  width: 370px;
  height: 404px;
}
.card-img,
our-work-img {
  width: 370px;
  height: 294px;
}

.card .card-header {
  font-size: 18px;
  line-height: 2;
}

.card .card-text {
  font-size: 16px;
  line-height: 1.9;
}
